
@{
    ViewBag.Title = "UserProfile";
    Teklican.Models.ModelView.AccountView us = null;
    if (Session["username"] != null) { us = (Teklican.Models.ModelView.AccountView)Session["username"]; }

}

<h2>Thông tin cá nhân</h2>
@if (Session["username"] != null)
{
    <div>Username: @us.username</div>
    <div>Email: @us.email</div>
    <div>Địa chỉ: @us.address</div>
    <div>Số điện thoại: @us.phone</div>
}
else
{
    <div>Vui lòng đăng nhập</div>
}


