
@{
    ViewBag.Title = "Changepwd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="changepwd-box" action="/" method="post">
    <h1>Đổi mật khẩu</h1>
    <div class="textbox">
        <input type="password" placeholder="Mật khẩu cũ" name="oldpwd" value="" />
    </div>
    <div class="textbox">
        <input type="password" placeholder="Mật khẩu mới" name="newpwd" value="" />
    </div>
    <div class="textbox">
        <input type="password" placeholder="Nhập lại mật khẩu" name="renpwd" value="" />
    </div>
    <input type="button" name="" value="Đồng ý" />
    <input type="button" name="" value="Hủy" />
</div>

