
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}
<div class="cont">
    <div class="form sign-in">
        <h2>Teklican</h2>
        <label>
            <span>Tên tài khoản</span>
            <input type="text" name="uname">
        </label>
        <label>
            <span>Mật khẩu</span>
            <input type="password" name="password">
        </label>
        <button class="submit" type="submit">Đăng nhập</button>
        <p class="forgot-pass">Quên mật khẩu ?</p>

        <div class="social-media">
            <ul>
                <li><img src="../images/facebook.png"></li>
                <li><img src="../images/twitter.png"></li>
                <li><img src="../images/linkedin.png"></li>
                <li><img src="../images/instagram.png"></li>
            </ul>
        </div>
    </div>

    <div class="sub-cont">
        <div class="img">
            <div class="img-text m-up">
                <h2>Chưa có tài khoản ?</h2>
                <p>Đăng ký để nhận thêm nhiều ưu đãi!</p>
            </div>
            <div class="img-text m-in">
                <h2>Bạn đã có tài khoản?</h2>
                <p>Đăng nhập ngay!</p>
            </div>
            <div class="img-btn">
                <span class="m-up">Đăng ký</span>
                <span class="m-in">Đăng nhập</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Đăng ký</h2>
            <label>
                <span>Tên</span>
                <input type="text">
            </label>
            <label>
                <span>Email</span>
                <input type="email">
            </label>
            <label>
                <span>Mật khẩu</span>
                <input type="password">
            </label>
            <label>
                <span>Nhập lại mật khẩu</span>
                <input type="password">
            </label>
            <button type="submit" class="submit">Đăng ký ngay</button>
        </div>
    </div>
</div>
<script type="">
    document.querySelector('.img-btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s-signup')
    }
    );
</script>

